@charset "utf-8";

// Colours
$purple: hsla(262, 65%, 60%, 1);
$red: hsla(0, 65%, 55%, 1);

// Derived
$primary: $purple;
$link: $primary;
$link-focus-border: $link;

$footer-padding: 3rem 1.5rem 3rem;

@import "../node_modules/bulma/bulma.sass";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer.footer {
  margin-top: auto;
}

#home-hero {
  position: relative;
}

#home-hero-cutout {
  position: absolute;
  bottom: 0;
  fill: $white;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url-row-container:not(:last-child)::after {
  @extend hr;
  content: "";
}

.url-row {
  display: flex;
}

.target-url-container {
  flex-basis: 100%;
  min-width: 0;
}

.target-title {
  @include truncate;
  color: $grey-darker;
}

.target {
  @include truncate;
  color: $grey;
}

.url-buttons-container {
  @include tablet {
    display: flex;
    margin-top: 0.5rem;
  }
  align-items: center;
  justify-content: space-between;
}

.url-container {
  @include truncate;
  @include tablet {
    margin-bottom: 0.5rem;
  }
  color: $link;
}

.url-buttons {
  @extend .buttons;
  flex-wrap: nowrap;
}

.date-visits-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;

  @include tablet {
    min-width: 120px;
    > button {
      pointer-events: none;
    }
  }
}

#notices {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.notice {
  @extend .notification;
  max-width: 300px;
  display: table;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
