{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
  <script src="{% static "js/base.js" %}" async></script>
  <title>
    Nerio{% if title %} | {{ title }}{% endif %}
  </title>
</head>

<body class="has-navbar-fixed-top">

<nav class="navbar is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a href="{% url "core:home" %}" class="navbar-item">
        <img src="{% static "images/logo.png" %}" alt="">
      </a>

      <a class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        {% if user.is_authenticated %}
          <a href="{% url "users:password-change" %}" class="navbar-item is-hidden-desktop">
            Change password
          </a>
          <a href="{% url "users:logout" %}" class="navbar-item is-hidden-desktop">
            Log out
          </a>
        {% else %}
          <a href="{% url "users:login" %}" class="navbar-item is-hidden-desktop">
            Log in
          </a>
          <a href="{% url "users:signup" %}" class="navbar-item is-hidden-desktop">
            Sign up
          </a>
        {% endif %}
      </div>

      <div class="navbar-end is-hidden-touch">
        <div class="navbar-item">
          {% if user.is_authenticated %}
            <div class="buttons">
              <a href="{% url "users:password-change" %}" class="button is-primary is-outlined">
                Change password
              </a>
              <a href="{% url "users:logout" %}" class="button is-primary">
                Log out
              </a>
            </div>
          {% else %}
            <div class="buttons">
              <a href="{% url "users:login" %}" class="button is-primary">
                Log in
              </a>
              <a href="{% url "users:signup" %}" class="button is-primary is-outlined">
                Sign up
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

<section id="home-hero" class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-fullhd is-6-widescreen is-7-desktop is-8-tablet">
          <h1 class="title has-text-centered">
            {% block hero-title %}{% endblock %}
          </h1>

          <div class="box">
            {% for message in messages %}
              <p class="notification is-light has-text-centered {{ message.tags }}">{{ message }}</p>
            {% endfor %}

            {% block hero-box %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg id="home-hero-cutout" viewBox="0 0 1000 50"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M 0,0
               v 50
               h 1000
               v -50
               C 900,20 650,50 500,50
               C 350,50 100,20 0,0
               z"></path>
  </svg>
</section>

{% block post-hero %}{% endblock %}

</body>

</html>