<h1 class="title has-text-centered">
  <span class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">fullhd</span>
  <span class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-fullhd">widescreen</span>
  <span class="is-hidden-mobile is-hidden-tablet-only is-hidden-widescreen-only is-hidden-fullhd">desktop</span>
  <span class="is-hidden-mobile is-hidden-desktop-only is-hidden-widescreen-only is-hidden-fullhd">tablet</span>
  <span class="is-hidden-tablet">mobile</span>
</h1>
