{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ protocol }}://{{ domain }}{% static "css/styles.css" %}">
  <title>Nerio | A simple URL shortener</title>
</head>

<body class="has-navbar-fixed-top">

<nav class="navbar is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a href="{% url "core:home" %}" class="navbar-item brand">Nerio</a>
    </div>
  </div>
</nav>

<section id="home-hero" class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-fullhd is-6-widescreen is-7-desktop is-8-tablet">
          <h1 class="title has-text-centered">
            Password reset
          </h1>

          <div class="box">
            <p>You are receiving this email because we received a password reset request for
              <span class="has-text-primary">{{ email }}</span>.
            </p>
            <br>
            <p>To reset your password, follow
              <a href="{{ protocol }}://{{ domain }}{% url "users:password-reset-confirm" uidb64=uid token=token %}"
                 class="has-text-primary">
                this link</a>.
            </p>
            <br>
            <p>This password reset link will expire tomorrow.</p>
            <br>
            <p>If you didn't request a password reset, you can ignore this email.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "templates/footer.html" %}

</body>
</html>
