{% extends "templates/base.html" %}

{% load static %}

{% block scripts %}
  <script src="{% static "js/home.js" %}" defer></script>
{% endblock %}

{% block hero-title %}
  A simple URL shortener.
{% endblock %}

{% block hero-box %}
  {% include "forms/form.html" with submit_value="Shorten" %}
{% endblock %}

{% block post-hero %}
  {% if urls %}
    <section class="section container">
      <div class="columns is-centered">
        <div class="column is-8-fullhd is-9-widescreen is-10-desktop is-11-tablet">
          <div id="urls" class="box">
            {% for url in urls %}
              <div class="url-row">
                <div class="target-url-container">
                  <div class="target-title">
                    <strong>{{ url.title }}</strong>
                  </div>
                  <div class="target">
                    <a class="has-text-grey is-size-7" href="{{ url.target }}">
                      {{ url.target }}
                    </a>
                  </div>

                  <div class="url-container">
                    <div class="url">
                      <a href="{{ url.get_absolute_url }}">
                        <strong>{{ url.get_absolute_url }}</strong>
                      </a>
                    </div>
                    <div class="url-buttons" data-url="{{ url.get_absolute_url }}">
                      <button class="button copy-button is-small is-success is-outlined">
                        Copy
                      </button>
                      <a class="button is-small is-info is-outlined">Rename</a>
                      {% if user.is_authnenticated %}
                        <a class="button is-small is-danger is-outlined">Delete</a>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="date-visits-container is-hidden-mobile">
                  <button class="button is-small is-outlined">
                    {{ url.created_at|date }}
                  </button>
                  <button class="button is-small is-outlined">
                    <span>Visits <strong>{{ url.visits }}</strong></span>
                  </button>
                </div>
              </div>

              {% if not forloop.last %}
                <hr>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}