{% extends "templates/base.html" %}

{% load static %}
{% load home %}

{% block scripts %}
  <script src="{% static "js/home.js" %}" defer></script>
  <script src="https://kit.fontawesome.com/d80f1c7f41.js" crossorigin="anonymous"></script>
{% endblock %}

{% block hero-title %}
  A simple URL shortener
{% endblock %}

{% block hero-box %}
  {% include "forms/form.html" with submit_value="Shorten" %}
{% endblock %}

{% block post-hero %}
  <section class="section container">
    <div class="columns is-centered">
      <div class="column is-8-fullhd is-9-widescreen is-10-desktop is-11-tablet">
        {% if search_term or page.object_list %}
          <form class="mb-4" method="get">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input tabindex="3" type="text" name="search" class="input" value="{{ search_term }}"
                       placeholder="Search for a URL" required>
              </div>
              <div class="control">
                <button type="submit" class="button is-primary is-hidden-mobile">Search</button>
                <button type="submit" class="button is-primary is-hidden-tablet">
                  <span class="icon"><i class="fas fa-search"></i></span>
                </button>
              </div>
              <div class="control">
                <a href="/" class="button is-danger is-hidden-mobile">Reset</a>
                <a href="/" class="button is-danger is-hidden-tablet">
                  <span class="icon"><i class="fas fa-times"></i></span>
                </a>
              </div>
            </div>
          </form>
        {% endif %}

        {% if page.object_list %}
          <div id="urls" class="box">
            {% for url in page.object_list %}
              <div class="url-row-container">
                <div class="url-row"
                     data-url="{{ request.scheme }}://{{ request.get_host }}{% url "core:forward" url.name %}"
                     data-name="{{ url.name }}"
                     data-endpoint="{% url "core:modify" url.pk %}">
                  <div class="target-url-container">
                    <div class="target-title">
                      <strong>{{ url.title }}</strong>
                    </div>
                    <div class="target">
                      <a class="has-text-grey is-size-7" href="{{ url.target }}">{{ url.target }}</a>
                    </div>

                    <div class="url-buttons-container">
                      <div class="url-container">
                        <strong>
                          <a class="url" href="{% url "core:forward" url.name %}">
                            {{ request.scheme }}://{{ request.get_host }}{% url "core:forward" url.name %}
                          </a>
                        </strong>
                      </div>
                      <div class="url-buttons is-hidden-mobile">
                        <button class="button copy-button is-small is-primary is-outlined">Copy</button>
                        <button class="button rename-button is-small is-info is-outlined">Rename</button>
                        <button class="button delete-button is-small is-danger is-outlined">Delete</button>
                      </div>
                    </div>
                  </div>

                  <div class="date-visits-container">
                    <button class="button is-small is-outlined is-hidden-mobile">
                      {{ url.created_at|date:"N j, Y" }}
                    </button>
                    <button class="button is-small is-outlined is-hidden-mobile">
                      <span>Visits <strong>{{ url.visits }}</strong></span>
                    </button>

                    <a class="icon has-text-primary is-hidden-tablet"><i class="fas fa-clipboard copy-button"></i></a>
                    <a class="icon has-text-info is-hidden-tablet"><i class="fas fa-edit rename-button"></i></a>
                    <a class="icon has-text-danger is-hidden-tablet"><i class="fas fa-trash delete-button"></i></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          {% if page.has_other_pages %}
            <nav class="pagination is-centered">
              {% if page.has_previous %}
                <a href="{% update_query_string page=page.previous_page_number %}"
                   class="pagination-previous">Previous</a>
              {% else %}
                <span class="pagination-previous" disabled>Previous</span>
              {% endif %}

              {% if page.has_next %}
                <a href="{% update_query_string page=page.next_page_number %}" class="pagination-next">Next</a>
              {% else %}
                <span class="pagination-next" disabled>Next</span>
              {% endif %}

              <ul class="pagination-list">
                {% for i in page|pagination_page_numbers %}
                  {% if i == page.number %}
                    <li><span class="pagination-link is-current">{{ i }}</span></li>
                  {% else %}
                    <li><a href="{% update_query_string page=i %}" class="pagination-link">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </section>

  <div id="rename-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <div class="field has-addons is-marginless">
          <div class="control is-expanded">
            <input id="rename-input" class="input" placeholder="">
          </div>
          <div class="control">
            <button id="rename-confirm-button" class="button is-primary">Rename</button>
          </div>
        </div>
        <p id="rename-help" class="help">{{ form.name.help_text }}</p>
      </div>
    </div>
    <button class="modal-close is-large"></button>
  </div>

  <div id="delete-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <p>Are you sure that you want to delete <a id="delete-url" href=""></a>?</p>
        <br>
        <div class="buttons is-centered">
          <button id="delete-confirm-button" class="button is-danger">Yes, delete it</button>
          <button id="delete-cancel-button" class="button">No, keep it</button>
        </div>
      </div>
    </div>
    <button class="modal-close is-large"></button>
  </div>
{% endblock %}