{% extends "templates/base.html" %}

{% load widget_tweaks %}
{% load forms %}

{% block hero-title %}
  Login
{% endblock %}

{% block hero-box %}
  <p>
    {% if next %}
      You must be logged in to view this page.
    {% else %}
      Don't have an account? Click <a href="{% url "users:signup" %}">here</a> to sign up.
    {% endif %}
  </p>
  <br>

  {% for error in form.non_field_errors %}
    <p class="notification is-danger is-light has-text-centered">{{ error }}</p>
  {% endfor %}

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="field">
        <label for="{{ field.field.id_for_label }}" class="label">{{ field.label }}</label>

        <div class="control">
          {{ field|add_class:"input"|add_error_class:"is-danger"|tabindex:forloop.counter }}
        </div>
        {% if field.errors %}
          <ul class="help is-danger">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="help">
            {% if field.name == "password" %}
              <a href="{% url "users:password-reset" %}">Forgot password?</a>
            {% else %}
              {{ field.help_text }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <div class="field">
      <div class="control has-text-centered">
        <input type="submit" class="button is-primary" value="Log in">
      </div>
    </div>
  </form>
{% endblock %}
