{% extends "templates/base.html" %}
{% load widget_tweaks %}

{% block hero-title %}
  Login
{% endblock %}

{% block hero-box %}
  {% if form.non_field_errors %}
    <div class="notification is-danger is-light has-text-centered">
      <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="field">
        <label for="{{ field.field.id_for_label }}" class="label">{{ field.label }}</label>

        <div class="control">
          {{ field|add_class:"input"|add_error_class:"is-danger" }}
        </div>

        <ul class="help is-danger">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

    {% include "forms/submit.html" with value="Log in" %}
  </form>
{% endblock %}
