@charset "utf-8";

// Colours
$orange: hsla(18, 65%, 55%, 1);

// Derived
$primary: $orange;
$link: $primary;

@import "node_modules/bulma/bulma.sass";

#home-hero {
  position: relative;
}

#home-hero-cutout {
  position: absolute;
  bottom: 0;
  fill: $white;
}
